.Ghous{
    background-color: red;
}

.Haider{
    background-color: #676464;
}
.INZIMAM{
    background-color: aqua;
}
.iqra{
    background-color: rgb(97, 97, 196);
}
.ishaq{
    background-color: antiquewhite;
}
.rizwan{
    background-color: yellow;
}
.bilal{
    background-color: rgb(184, 83, 83);
}